.about-me{
    display: flex;
    flex-direction: row;
}

.about-me-name{
    font-size: 2.5rem;
    text-align: center;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.about-me-text{
    padding:2.5%;
    width:65%;
}

.links{
    text-align:center;
}

.about-me img{
    display: block;
    max-width: 36%;
    object-fit: contain;
}


@media screen and (max-width: 696px) {
    .about-me{
        flex-direction: column;
    }

    .about-me:nth-child(2){
        order: 1;
    }
}