main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc{
    width: 90%;
    margin-bottom: 1.5em;
}

.subject{
    display: flex;
    flex-direction: column;
    text-align: left;
    width:95%;
}

.subject h2{
    margin-left:1em; 
    font-size: 1.75rem; 
    font-weight: 800;
}

.exceptional{
    background-color: #ffffd0;
}

.resource-block{
    display: flex;
    flex-direction: row;
    margin: 1.25em;
    margin-bottom: 3em;
}

.resource-block img{
    align-self: center;
    padding: 1em;
    width:25%;
    object-fit: contain;
}

.resource-desc{
    padding: 1em;
}

@media screen and (max-width: 696px){
    .resource-block{
        flex-direction: column;
    }

    .resource-block img{
        width: 75%;
    }
}